// Place your apps css here

#equation-input {
  border: 1px solid rgb(208,208,208);
  outline: 0;
  padding: 7px 10px;
  width: 585px;
}

#equation-input:focus {
  border: 1px solid rgb(59,123,255);
}

#title-quick {
  color: blue;
  font-style: italic;
}

#title-calc {
  color: green;
}

#title-dot {
  color: orange;
}

#title-co {
  color: red;
  font-style: italic;
}

.calculator > button, #backspace {
  background-color: white;
  border: 1px solid rgb(230,230,230);
  border-radius: 4px;
  outline: 0;
  margin-bottom: 5px;
  width: 50px;
}

.calculator > button:hover, #backspace:hover{
  border: 1px solid rgb(208,208,208);
}

.calculator > button:active, #backspace:active {
  background-color: rgb(241,241,241);
  border: 1px solid rgb(186,186,186);
}

.margin-left-50 {
  margin-left: 50px;
}
