<:Title>
  Home

<:Body>
  <h1 class="margin-left-50">
    <span id="title-quick">Quick</span><span id="title-calc">Calc</span><span id="title-dot">.</span><span id="title-co">co</span>
  </h1>

  <br><br><br><br>

  <h3 class="margin-left-50">Start Calculation</h3>
  <div style="width:70%">
    You can use all valid JavaScript math symbols and functions, such as: + , * , Math.floor( ) , Math.pow( ) , ...
  </div>
  <br><br>
  <form e-submit="run_calculation">
    <input id="equation-input" value="{{ page._new_calculation }}" required autofocus>
    <button type="submit">=</button>
  </form>

  <br><br><br><br>
  
  <h3 class="margin-left-50">Recent Calculations</h3>

  {{ store._calculations.reverse.each do |calculation| }}
    {{ calculation._equation }} = {{ calculation._result }}<br>

  {{ end }}
