<:Title>
  Home

<:Body>
  <h1>Start Calculation</h1>
  You can use all valid JavaScript math symbols and functions, such as: + , * , Math.floor( ) , Math.pow( ) , ...
  <br><br>
  <form e-submit="run_calculation">
    <input id="equation-input" value="{{ page._new_calculation }}" required autofocus>
    <button type="submit">=</button>
  </form>

  <h1>Recent Calculations</h1>

  {{ store._calculations.reverse.each do |calculation| }}
    {{ calculation._equation }} = {{ calculation._result }}<br>

  {{ end }}
