<:Title>
  Home

<:Body>
  <h1>
    <span id="title-quick">Quick</span><span id="title-calc">Calc</span><span id="title-dot">.</span><span id="title-co">co</span>
  </h1>

  <br><br>

  <h3>Start Calculation</h3>
  You can use all valid JavaScript math symbols and functions, such as: <br>
  <font size=3>+ , * , Math.floor( ) , Math.pow( ) , ...</font>
  
  <br><br>
  
  <form e-submit="run_calculation">
    <input id="equation-input" value="{{ page._new_calculation }}" required autofocus>
    <button id="backspace" type="button" e-click="page._new_calculation = page._new_calculation[0...-1]"><i class="fa fa-arrow-left"></i></button>

    <br><br>

    <div class="calculator">
      <button type="button" e-click="page._new_calculation += '1'">1</button>
      <button type="button" e-click="page._new_calculation += '2'">2</button>
      <button type="button" e-click="page._new_calculation += '3'">3</button>
      <button type="button" e-click="page._new_calculation += ' + '">+</button>
      <br>
      <button type="button" e-click="page._new_calculation += '4'">4</button>
      <button type="button" e-click="page._new_calculation += '5'">5</button>
      <button type="button" e-click="page._new_calculation += '6'">6</button>
      <button type="button" e-click="page._new_calculation += ' - '">-</button>
      <br>
      <button type="button" e-click="page._new_calculation += '7'">7</button>
      <button type="button" e-click="page._new_calculation += '8'">8</button>
      <button type="button" e-click="page._new_calculation += '9'">9</button>
      <button type="button" e-click="page._new_calculation += ' * '">*</button>
      <br>
      <button type="button" e-click="page._new_calculation = ''">clear</button>
      <button type="button" e-click="page._new_calculation += '0'">0</button>
      <button type="submit">=</button>
      <button type="button" e-click="page._new_calculation += ' / '">/</button>
      <br>
    </div>
  </form>

  <br><br>
  
  <h3>Recent Calculations</h3>

  <div style="display:inline-block;text-align:right;">
    {{ store._calculations.reverse.each do |calculation| }}
      {{ calculation._equation }} <br>
    {{ end }}
  </div>
  <div style="display:inline-block;">
    {{ store._calculations.each do |calculation| }}
       = <br>
    {{ end }}
  </div>
  <div style="display:inline-block;text-align:left">
    {{ store._calculations.reverse.each do |calculation| }}
      {{ calculation._result }}<br>
    {{ end }}
  </div>
